body {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inputButton {
  size: 20px;
  background-color: #61dafb;
  border: none;
  padding: 15px 32px;
  border-radius: 4px;
  margin: 2px;
}
